body {
	background-color: rgb(218, 218, 218);
	padding: 0;
}
svg {
	width: 40px;
}

.card-container {
	// border: 1px solid black;
	margin: auto;
	width: 90%;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: center;
	list-style: none;
}
.card-item {
	padding: 10px;
	border: rgb(182, 182, 182) solid 2px;
	border-radius: 10px;
	max-width: 30%;
	margin: 2px;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}
